## Folders
/armourersWorkshop
/asm
/assets
/battlemusic
/betterrecords
/compendiumunlocks
/compendiumUpdates
/crash-reports
/dumps
/equipment-database
/hats
/logs
/MineMenu
/mods
/Purgatory
/reports
/RopecaGuild2
/saves
/Server(ish) mods
/minetweaker
/nicknames.json
/OpenComputersMod-1.3.6.69-native.64.dll
/ReCubed
/usercache.json
