# Configuration file

misc {
    B:"Show Debug info in Console"=false
}


recipes {
    S:"Custom Knife Recipe - I: Iron Ingot, S: Stick, Any other characters will be seen as blank spots. This is the exact layout in the crafting table!" <
        BBI
        BIB
        SBB
     >
    S:"Custom Oven Recipes - The name of the Item to be able to cook in the Oven" <
        kitchen:raw_roast_beef
        kitchen:chicken_fillet_raw
        kitchen:bacon_raw
     >
    S:"Custom Oven Recipes Results - The name of the result Item, when it's cooked in the Oven." <
        kitchen:roast_beef
        kitchen:chicken_fillet_cooked
        kitchen:bacon_cooked
     >
    I:"Knife Recipes - 0: Default Recipe, 1: Iron Torch Recipe, 2: Stick next to Iron Recipe, 3: Custom Recipe"=0
}


worldgen {
    I:"Lettuce Spawn percentage - How big a chance lettuce has to spawn per chunk, 0 to disable"=0
}


