# Configuration file

##########################################################################################################
# item_book;0
#--------------------------------------------------------------------------------------------------------#
# Book
##########################################################################################################

"item_book;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_compass;0
#--------------------------------------------------------------------------------------------------------#
# Compass
##########################################################################################################

"item_compass;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=1
}


##########################################################################################################
# item_emptymap;0
#--------------------------------------------------------------------------------------------------------#
# Empty Map
##########################################################################################################

"item_emptymap;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=1
}


##########################################################################################################
# item_enchantedbook;0
#--------------------------------------------------------------------------------------------------------#
# Enchanted Book
##########################################################################################################

"item_enchantedbook;0" {
    B:enabled=true
    I:max_spawn_count=5
    I:min_spawn_count=1
    I:spawn_weight=2
}


##########################################################################################################
# item_factorization:tool/matrix_programmer;0
#--------------------------------------------------------------------------------------------------------#
# Logic Matrix Programmer
##########################################################################################################

"item_factorization:tool/matrix_programmer;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=35
}


##########################################################################################################
# item_headcrumbs_player;0
#--------------------------------------------------------------------------------------------------------#
# Zoeya's Head
##########################################################################################################

"item_headcrumbs_player;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=3
}


##########################################################################################################
# item_nukevirus;0
#--------------------------------------------------------------------------------------------------------#
# Nuke Virus
##########################################################################################################

"item_nukevirus;0" {
    B:enabled=true
    I:max_spawn_count=4
    I:min_spawn_count=1
    I:spawn_weight=8
}


##########################################################################################################
# item_null_blacksmithbook;3
#--------------------------------------------------------------------------------------------------------#
# I Was a Teenage Smelter
##########################################################################################################

"item_null_blacksmithbook;3" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_null_botanistbook;12
#--------------------------------------------------------------------------------------------------------#
# The Perks of Finding all the Flowers
##########################################################################################################

"item_null_botanistbook;12" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_null_butcherbook;4
#--------------------------------------------------------------------------------------------------------#
# I'm Not a Psycho; Promise
##########################################################################################################

"item_null_butcherbook;4" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_null_chefbook;5
#--------------------------------------------------------------------------------------------------------#
# How to Boil Creeper
##########################################################################################################

"item_null_chefbook;5" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_null_farmerbook;0
#--------------------------------------------------------------------------------------------------------#
# E-I-E-I-Oh Shut Up!
##########################################################################################################

"item_null_farmerbook;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_null_librarianbook;1
#--------------------------------------------------------------------------------------------------------#
# The Art of Shh...
##########################################################################################################

"item_null_librarianbook;1" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_null_mechanicbook;11
#--------------------------------------------------------------------------------------------------------#
# Mechanics Without Wrenches
##########################################################################################################

"item_null_mechanicbook;11" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_null_mystbook;9
#--------------------------------------------------------------------------------------------------------#
# Secrets of the D'Ni
##########################################################################################################

"item_null_mystbook;9" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_null_priestbook;2
#--------------------------------------------------------------------------------------------------------#
# The Good Book
##########################################################################################################

"item_null_priestbook;2" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_null_railbook;10
#--------------------------------------------------------------------------------------------------------#
# Three Men in a Minecart
##########################################################################################################

"item_null_railbook;10" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_null_recyclerbook;6
#--------------------------------------------------------------------------------------------------------#
# Going Green with Steve
##########################################################################################################

"item_null_recyclerbook;6" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_paper;0
#--------------------------------------------------------------------------------------------------------#
# Paper
##########################################################################################################

"item_paper;0" {
    B:enabled=true
    I:max_spawn_count=7
    I:min_spawn_count=2
    I:spawn_weight=20
}


##########################################################################################################
# item_runes;17
#--------------------------------------------------------------------------------------------------------#
# Infinity Orb
##########################################################################################################

"item_runes;17" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_runes;18
#--------------------------------------------------------------------------------------------------------#
# Infinity Orb
##########################################################################################################

"item_runes;18" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=1
}


##########################################################################################################
# item_runes;19
#--------------------------------------------------------------------------------------------------------#
# Infinity Orb
##########################################################################################################

"item_runes;19" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=6
}


##########################################################################################################
# item_stopworm;0
#--------------------------------------------------------------------------------------------------------#
# STOP! -Worm
##########################################################################################################

"item_stopworm;0" {
    B:enabled=true
    I:max_spawn_count=4
    I:min_spawn_count=1
    I:spawn_weight=8
}


##########################################################################################################
# oc:item_floppydisk;60
#--------------------------------------------------------------------------------------------------------#
# Floppy Disk
##########################################################################################################

"oc:item_floppydisk;60" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# tile_stone;0
#--------------------------------------------------------------------------------------------------------#
# Stone
##########################################################################################################

"tile_stone;0" {
    B:enabled=true
    I:max_spawn_count=0
    I:min_spawn_count=0
    I:spawn_weight=10
}


