# Configuration file

##########################################################################################################
# item_apple;0
#--------------------------------------------------------------------------------------------------------#
# Apple
##########################################################################################################

"item_apple;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=15
}


##########################################################################################################
# item_bootsiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Boots
##########################################################################################################

"item_bootsiron;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_bread;0
#--------------------------------------------------------------------------------------------------------#
# Bread
##########################################################################################################

"item_bread;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=15
}


##########################################################################################################
# item_chestplateiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Chestplate
##########################################################################################################

"item_chestplateiron;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_diamond;0
#--------------------------------------------------------------------------------------------------------#
# Diamond
##########################################################################################################

"item_diamond;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=3
}


##########################################################################################################
# item_helmetiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Helmet
##########################################################################################################

"item_helmetiron;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_horsearmordiamond;0
#--------------------------------------------------------------------------------------------------------#
# Diamond Horse Armor
##########################################################################################################

"item_horsearmordiamond;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=1
}


##########################################################################################################
# item_horsearmorgold;0
#--------------------------------------------------------------------------------------------------------#
# Gold Horse Armor
##########################################################################################################

"item_horsearmorgold;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=1
}


##########################################################################################################
# item_horsearmormetal;0
#--------------------------------------------------------------------------------------------------------#
# Iron Horse Armor
##########################################################################################################

"item_horsearmormetal;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=1
}


##########################################################################################################
# item_ingotgold;0
#--------------------------------------------------------------------------------------------------------#
# Gold Ingot
##########################################################################################################

"item_ingotgold;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_ingotiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Ingot
##########################################################################################################

"item_ingotiron;0" {
    B:enabled=true
    I:max_spawn_count=5
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# item_leggingsiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Leggings
##########################################################################################################

"item_leggingsiron;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_nukevirus;0
#--------------------------------------------------------------------------------------------------------#
# Nuke Virus
##########################################################################################################

"item_nukevirus;0" {
    B:enabled=true
    I:max_spawn_count=4
    I:min_spawn_count=1
    I:spawn_weight=8
}


##########################################################################################################
# item_openblocks_paintbrush;0
#--------------------------------------------------------------------------------------------------------#
# Paint Brush
##########################################################################################################

"item_openblocks_paintbrush;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=2
}


##########################################################################################################
# item_pickaxeiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Pickaxe
##########################################################################################################

"item_pickaxeiron;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_railcraft_armor_steel_boots;0
#--------------------------------------------------------------------------------------------------------#
# Steel Boots
##########################################################################################################

"item_railcraft_armor_steel_boots;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_railcraft_armor_steel_helmet;0
#--------------------------------------------------------------------------------------------------------#
# Steel Helmet
##########################################################################################################

"item_railcraft_armor_steel_helmet;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_railcraft_armor_steel_legs;0
#--------------------------------------------------------------------------------------------------------#
# Steel Leggings
##########################################################################################################

"item_railcraft_armor_steel_legs;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_railcraft_armor_steel_plate;0
#--------------------------------------------------------------------------------------------------------#
# Steel Chestplate
##########################################################################################################

"item_railcraft_armor_steel_plate;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_railcraft_fuel_coke;0
#--------------------------------------------------------------------------------------------------------#
# Coal Coke
##########################################################################################################

"item_railcraft_fuel_coke;0" {
    B:enabled=true
    I:max_spawn_count=16
    I:min_spawn_count=4
    I:spawn_weight=20
}


##########################################################################################################
# item_railcraft_ingot_steel;0
#--------------------------------------------------------------------------------------------------------#
# Steel Ingot
##########################################################################################################

"item_railcraft_ingot_steel;0" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=5
    I:spawn_weight=10
}


##########################################################################################################
# item_railcraft_tool_crowbar;0
#--------------------------------------------------------------------------------------------------------#
# Crowbar
##########################################################################################################

"item_railcraft_tool_crowbar;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# item_railcraft_tool_steel_axe;0
#--------------------------------------------------------------------------------------------------------#
# Steel Axe
##########################################################################################################

"item_railcraft_tool_steel_axe;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_railcraft_tool_steel_pickaxe;0
#--------------------------------------------------------------------------------------------------------#
# Steel Pickaxe
##########################################################################################################

"item_railcraft_tool_steel_pickaxe;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_railcraft_tool_steel_shears;0
#--------------------------------------------------------------------------------------------------------#
# Steel Shears
##########################################################################################################

"item_railcraft_tool_steel_shears;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_railcraft_tool_steel_shovel;0
#--------------------------------------------------------------------------------------------------------#
# Steel Shovel
##########################################################################################################

"item_railcraft_tool_steel_shovel;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_railcraft_tool_steel_sword;0
#--------------------------------------------------------------------------------------------------------#
# Steel Sword
##########################################################################################################

"item_railcraft_tool_steel_sword;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_saddle;0
#--------------------------------------------------------------------------------------------------------#
# Saddle
##########################################################################################################

"item_saddle;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=3
}


##########################################################################################################
# item_stopworm;0
#--------------------------------------------------------------------------------------------------------#
# STOP! -Worm
##########################################################################################################

"item_stopworm;0" {
    B:enabled=true
    I:max_spawn_count=4
    I:min_spawn_count=1
    I:spawn_weight=8
}


##########################################################################################################
# item_swordiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Sword
##########################################################################################################

"item_swordiron;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_whip;0
#--------------------------------------------------------------------------------------------------------#
# Whip
##########################################################################################################

"item_whip;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=50
}


##########################################################################################################
# tile_obsidian;0
#--------------------------------------------------------------------------------------------------------#
# Obsidian
##########################################################################################################

"tile_obsidian;0" {
    B:enabled=true
    I:max_spawn_count=7
    I:min_spawn_count=3
    I:spawn_weight=5
}


##########################################################################################################
# tile_railcraft_cube_steel;2
#--------------------------------------------------------------------------------------------------------#
# Block of Steel
##########################################################################################################

"tile_railcraft_cube_steel;2" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# tile_sapling_oak;0
#--------------------------------------------------------------------------------------------------------#
# Oak Sapling
##########################################################################################################

"tile_sapling_oak;0" {
    B:enabled=true
    I:max_spawn_count=7
    I:min_spawn_count=3
    I:spawn_weight=5
}


